

#logo{
    font-family: var(--logo-font);
    font-size: 2.5rem;
    margin-right: 12px;
    font-weight: 400;
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header{
    display: flex;
    align-items: center;
}

#header > div:first-of-type{
    display: flex;
    align-items: center;
}

#header #links a{
    margin-right: 10px;
}

#header button{
    padding: 8px;
    font-size: 1.05rem;
    margin-left: 5px;
    border-radius: 3px;
    cursor: pointer;
}

#header #login{
    display: flex;
}